<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
<!--			<pattern>%d{hh:mm ss.SSS} %highlight(%-5level) %16.16(%logger{0}) %magenta(%.-128msg) %xException{1}%n</pattern>-->
			<pattern>%d{hh:mm ss.SSS} %highlight(%-5level) %16.16(%logger{0}) %magenta(%.-160msg%n)</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
